{% extends 'base.html' %} {% block content %} {% if object %}
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<div class="row center">
  <h1>Add Potion</h1>
</div>
<div class="row center">
  <h4 style="font-family: Arial; color: black">
    Are you sure you want to create a new potion?
  </h4>
</div>
{% endif %}
<form action="" method="post" required>
  {% csrf_token %}
  <table>
    {{form.as_p}}
  </table>
  <div class="row center">
    <a href="{% url 'potion_index' %}" style="margin: 10px">
      <a href="class="waves-effect waves-light btn-small cancelBtn">Cancel</a
    >
    <input
      id="yesButton"
      type="submit"
      value="Yes!"
      class="waves-effect waves-light btn-large acceptBtn"
    />
  </div>
</form>
<style>
  h4 {
    color: black;
    font-family: 14;
  }
</style>

{% endblock %}
