{% extends 'base.html' %} {% block content %} {% load static %}
<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/ingredientIndex.css' %}"
  />
</head>

<h1 class="title">MY INGREDIENTS</h1>  
<div id="buttons">
  <div class="createBtn" id="indexBtn1"> 
    <a href="/potion/index">BACK to Potions </a> 
  </div>
  <br/> 
  <div class="createBtn" id="indexBtn2"> 
    <a href="{%url 'ingredient_get'%}"><p>Create new ingredient</p></a>  
  </div>
</div>


<div class="row"> 

  <div class="column left arrowLeft">
    <img
      src="https://i.ibb.co/0DDjxpc/Screen-Shot-2022-04-07-at-6-38-09-PM-removebg-preview.png"
    /> 
  </div>

  <div class="column middle">
    <table>
      <tr class="row1">
        {% for ingredient in ingredients %}
        {% if forloop.counter0 < 4 %}
        <td>
              <div class="nameAndIcon">
                <img class="ingredientPic" src="{{ingredient.image}}" />
                <p class="nameLabel potionName" style="text-align: center">
                  {{ ingredient.name }}
               </p>
               <div class="deleteButton"> <a href="{% url 'ingredient_delete' ingredient.id %}">Delete</a> </div>
             </div>
             </a>
        </td>
        {% endif %}
        {% endfor %}
      </tr>

      <tr class="row2">
        {% for ingredient in ingredients %}
        {% if forloop.counter0 < 8 and forloop.counter0 > 3 %}
          <td>
                <div class="nameAndIcon2">
                  <img class="ingredientPic" src="{{ingredient.image}}" />
                  <p class="nameLabel potionName" style="text-align: center">
                   {{ ingredient.name }}
                 </p> 
                  <div class="deleteButton"> <a href="{% url 'ingredient_delete' ingredient.id %}">Delete</a> </div>
                </div>
              </a>
            </td>
        {% endif %}
        {% endfor %}
      </tr> 
    </table>  
  </div>

  <div class="column right arrowRight">
    <img src="https://i.ibb.co/FqNRmSX/Screen-Shot-2022-04-07-at-6-38-20-PM-removebg-preview.png" 
    />
  </div>

</div>
{% endblock %} 
