{%extends 'base.html'%} {% block content %} {% load static %}
<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/cauldron.css' %}"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>
  <div id="body-content">
    <br /><br />
    <div id="top-row-wrapper">
      <div id="profile-container">
        <div id="dropdown-container">
          <img
            src="https://api-private.atlassian.com/users/2dff6b099a5ac2f4baab1bb770899247/avatar"
            id="profile-icon"
          />

          <div id="dropDownMenu">
            {{user.username}}
            <a href="#">My Profile</a>
            <a href="{% url 'potion_index' %}">My Potions</a>
            <a href="{% url 'ingredient_index' %}">My Ingredients</a>
          </div>
        </div>
      </div>
      <div id="cauldron-container">
        <h2><span class="sparkle">POTION NAME</span></h2>
        <img src="https://i.imgur.com/SJx8DwX.png" class="cauldron-image" />
      </div>
      <div id="recipe-container">
        <div>
          <h4>Recipe</h4>
          <p id="recipe-instructions">Select from the ingredients below to add to the recipe!</p>
          <table id="ingredient-list">
            <!-- <tr>
              <td>Quant.</td>
              <td>Ingredient</td>
              <td>x</td>
            </tr>
            <tr>
              <td>Quant.</td>
              <td>Ingredient</td>
              <td>x</td>
            </tr>
            <tr>
              <td>Quant.</td>
              <td>Ingredient</td>
              <td>x</td>
            </tr> -->
          </table>


        </div>
        <br />

        <form id="addRecipeForm" action="{%url 'potion_edit' potion.id%}" method="POST">
          {% csrf_token %}
          <input value="null" type="hidden" name="recipeData" id="recipeData">
          <input type='submit' value="Concoct" class='btn' id="concoctBtn">
      </form>
      </div>
    </div>
    <h3>Ingredients</h3>
    <div id="bottom-row-wrapper">
      <div id="empty-container"></div>
      <div id="ingredients-container">
        <input value="{{ingredients}}" type="hidden" name="ingredients" id="ingredient-storage">
        <div class="arrow">
          <button class="btn" style="background-color: #7a6cd6" id="btnLeft">
            <i class="material-icons">arrow_back</i>
          </button>
        </div>
        <div id="ingredient-1" class="ingredient btn">
          <h5>Money</h5>
        </div>
        <div id="ingredient-2" class="ingredient btn">
          <h5>Happiness</h5>
        </div>
        <div id="ingredient-3" class="ingredient btn">
          <h5>Disease</h5>
        </div>
        <div class="arrow">
          <button class="btn" style="background-color: #7a6cd6" id="btnRight">
            <i class="material-icons">arrow_forward</i>
          </button>
        </div>
      </div>
      <div id="add-ingredient-container">
        <div class="ingredient">
          <a id="add-ingredient" href="{%url 'ingredient_create'%}" class="btn" style="color: black">
            <i class="material-icons" id="ctrl-point-icon">control_point</i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <script>
    //User profile hover menu
    let profileIcon = document.getElementById("profile-icon");
    let dropdownContainer = document.getElementById("dropdown-container");
    let dropDownMenu = document.getElementById("dropDownMenu");
    profileIcon.addEventListener("mouseenter", showDropdown);
    dropdownContainer.addEventListener("mouseleave", showDropdown);

    function showDropdown(ev) {
      if (dropDownMenu.style.display === "flex") {
        dropDownMenu.style.display = "none";
      } else {
        dropDownMenu.style.display = "flex";
      }
    }

    //Scroll through ingredients list
    let leftBtn = document.getElementById("btnLeft");
    let rightBtn = document.getElementById("btnRight");
    leftBtn.addEventListener("click", scrollLeft);
    rightBtn.addEventListener("click", scrollRight);

    //read ingredients from database and set defaults
    let ingredients_raw = document.getElementById("ingredient-storage").value; //string of all ingredient properties passed from Django->HTML->JS
    let i1 = document.getElementById("ingredient-1");
    let i2 = document.getElementById("ingredient-2");
    let i3 = document.getElementById("ingredient-3");

    // console.log(ingredients_raw)

    //Custom-made parser to read the ingredient string and split into seperate objects
    //Read string, cut out the BS and parse keys & values into an array
    //Loads all data into a single array:[key,value,key,value,key,value,...]
    let ingredients_fullList = [];
    i_split=ingredients_raw.split(",");
    for (i_str of i_split) {
      str_split=i_str.split(": ");
      for (i2_str of str_split) {
        i2_str = i2_str.replace("'","");
        i2_str = i2_str.replace("'","");
        i2_str = i2_str.replace("[","");
        i2_str = i2_str.replace("{","");
        i2_str = i2_str.replace("}","");
        i2_str = i2_str.replace("]","");
        i2_str = i2_str.trim();
        ingredients_fullList.push(i2_str);
      }
    }
    // console.log(ingredients_fullList)
    //End array with starting key to allow parser below to successfully complete each object
    ingredients_fullList.push(ingredients_fullList[0]);
    //Parse the array and move key-value apirs into objects
    let new_obj = {}
    let ingredients = [];
    for (i = 0; i<ingredients_fullList.length+1; i+=2) {
      if ((ingredients_fullList[i] === ingredients_fullList[0]) && (i > 0)) {
        //data keys are repeating, so begin a new object
        ingredients.push(new_obj);
        new_obj = {};
      }
      //add key and value to object
      key=ingredients_fullList[i];
      new_obj[key] = ingredients_fullList[i+1];
    }

    // console.log(ingredients)

    //Set default ingredients to page
    let displayedIngredients = [0,1,2];
    displayIngredients(displayedIngredients);

    function displayIngredients(indices) {
      if (ingredients[indices[0]]) {
        i1.style.backgroundImage = "url("+ingredients[indices[0]].image+")";
        i1.innerHTML = '<h5>'+ingredients[indices[0]].name+'</h5>';
        i1.dataset={};
        i1.dataset.id = ingredients[indices[0]].id;
        i1.dataset.name = ingredients[indices[0]].name;
        i1.dataset.image = ingredients[indices[0]].image;
      }
      if (ingredients[indices[1]]) {
        i2.style.backgroundImage = "url("+ingredients[indices[1]].image+")";
        i2.innerHTML = '<h5>'+ingredients[indices[1]].name+'</h5>';
        i2.dataset={};
        i2.dataset.id = ingredients[indices[1]].id;
        i2.dataset.name = ingredients[indices[1]].name;
        i2.dataset.image = ingredients[indices[1]].image;
      }
      if (ingredients[indices[2]]) {
        i3.style.backgroundImage = "url("+ingredients[indices[2]].image+")";
        i3.innerHTML = '<h5>'+ingredients[indices[2]].name+'</h5>';
        i3.dataset={};
        i3.dataset.id = ingredients[indices[2]].id;
        i3.dataset.name = ingredients[indices[2]].name;
        i3.dataset.image = ingredients[indices[2]].image;
      }
    }

    function scrollLeft(ev) {
      displayedIngredients=displayedIngredients.map(v=>{
        v-=1;
        if (v < 0) {
          v = ingredients.length - 1;
        }
        return v
      });
      displayIngredients(displayedIngredients);
    }

    function scrollRight(ev) {
      displayedIngredients=displayedIngredients.map(v=>{
        v+=1;
        if (v > ingredients.length - 1) {
          v = 0;
        }
        return v
      });
      displayIngredients(displayedIngredients);
    }


    //ADD INGREDIENTS TO POTION
    let potionIngredients = [];
    let potionIngredients_str = [];
    i1.addEventListener("click", addIngredientToPotion);
    i2.addEventListener("click", addIngredientToPotion);
    i3.addEventListener("click", addIngredientToPotion);
    let recipeTable = document.getElementById("ingredient-list");
    let recipeInstructions = document.getElementById("recipe-instructions");
    let recipeForm = document.getElementById("addRecipeForm");
    let recipeData = document.getElementById("recipeData")

    function addIngredientToPotion(ev) {
      if (potionIngredients.length > 7 ) {
        alert("Slow down pal! There are fluctations in the time-space continuum and we don't want to overwork the temporal spirits that conjure all the goodness of our potions. \nLet's limit ourselves to a maximum of 8 ingredients per potion.");
      } else if (potionIngredients.filter(v=>{ return ev.target.dataset.name === v.ingredient.name}).length > 0) {
        alert('Woah! Variety is the spice of life buddy. \nYou have already added this ingredient to the potion, why not try a different one?');
      } else {
        let validEntry = false;
        let numAdded = 0;
        while (!validEntry) {
          numAdded = Number(prompt('How much '+ev.target.dataset.name.toUpperCase()+' do you want to add?'))
          if (numAdded == 0) {return} //cancel button
          if (numAdded > 0) { validEntry = true} //valid number
        }

        potionIngredients.push({
          ingredient: ev.target.dataset, 
          quantity: Math.floor(numAdded)
        });
        
        potionIngredients_str.push(`{"ingredient": ${ev.target.dataset.id}, "quantity": ${Math.floor(numAdded)}}`);

        // potionIngredients.length > 0 ? recipeInstructions.style.display = 'hidden' : recipeInstructions.style.display = 'block'; 
        
        //display in table
        let row = recipeTable.insertRow(-1);
        let cell1 = row.insertCell(0);
        cell1.style.width = "37.5%";
        let cell2 = row.insertCell(1);
        cell2.style.width = "37.5%";
        let cell3 = row.insertCell(2);
        cell3.style.width = "12.5%";
        let cell4 = row.insertCell(3);
        cell4.style.width = "12.5%";

        // Add data to the new cells:
        cell1.innerText = numAdded + ' parts';
        // let str = ev.target.dataset.name;
        // str = str.charAt(0).toLowerCase() + str.slice(1); //decapitalise first letter of name
        // cell2.innerText = str;
        cell2.innerText = ev.target.dataset.name.toLowerCase();

        let image = document.createElement('img');
        image.src = 'https://icon-library.com/images/pencil-edit-icon/pencil-edit-icon-5.jpg';
        image.style.width="75%";
        image.addEventListener("click", editRecipeIngredient);
        image.style.cursor = "pointer";
        cell3.appendChild(image)

        image = null;

        image = document.createElement('img');
        image.src = 'https://www.iconsdb.com/icons/preview/black/delete-xxl.png';
        image.style.width="75%";
        image.addEventListener("click", deleteRecipeIngredient);
        image.style.cursor = "pointer";
        cell4.appendChild(image)

        recipeData.value = `${potionIngredients_str}`; //assign to frontend hidden input box for submission
      }

      
      function editRecipeIngredient(ev) {
        console.log('EDITING INGREDIENT!')
      }
      
      function deleteRecipeIngredient(ev) {
        let rowNum = ev.target.parentNode.rowIndex;
        potionIngredients.splice(rowNum-1,1)
        recipeTable.deleteRow(rowNum);
      }


      // <tr>
      //   <td>Quant.</td>
      //   <td>Ingredient</td>
      //   <td>x</td>
      // </tr>
    }





  </script>


  {%endblock%}
</body>
