.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: translateZ(0);
  opacity: 0.6;
}

.bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  background-color: purple;
  border-radius: 50%;
  bottom: -100px;
  animation: square 20s infinite;
  transition-timing-function: linear;
}

.bubbles li:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  animation-delay: 5s;
  animation-duration: 15s;
}

.bubbles li:nth-child(2) {
  width: 60px;
  height: 60px;
  left: 20%;
  animation-delay: 1s;
  animation-duration: 13s;
}

.bubbles li:nth-child(3) {
  width: 10px;
  height: 10px;
  left: 35%;
  animation-delay: 2s;
  animation-duration: 10s;
}

.bubbles li:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 45%;
  animation-delay: 0s;
  animation-duration: 12s;
}

.bubbles li:nth-child(5) {
  width: 50px;
  height: 50px;
  left: 55%;
  animation-delay: 3s;
  animation-duration: 10s;
}

.bubbles li:nth-child(6) {
  width: 40px;
  height: 40px;
  left: 65%;
  animation-delay: 4s;
  animation-duration: 8s;
}

.bubbles li:nth-child(7) {
  width: 60px;
  height: 60px;
  left: 75%;
  animation-delay: 6s;
  animation-duration: 9s;
}

.bubbles li:nth-child(8) {
  width: 10px;
  height: 10px;
  left: 85%;
  animation-delay: 7s;
  animation-duration: 12s;
}

.bubbles li:nth-child(9) {
  width: 80px;
  height: 80px;
  left: 38%;
  animation-delay: 8s;
  animation-duration: 10s;
}

.bubbles li:nth-child(10) {
  width: 50px;
  height: 50px;
  left: 89%;
  animation-delay: 3s;
  animation-duration: 9s;
}

@keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1080px) rotate(630deg);
  }
}

body {
  background-color: #ebd6dd;
  z-index: 1;
}

.h1-img-container {
  position: relative;
  text-align: center;
}

h1 {
  font-family: "Rubik Wet Paint", cursive;
  color: purple;
  text-align: center;
  font-size: 150px;
  text-shadow: 5px 5px 5px white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#app-des {
  position: relative;
  color: white;
  font-size: 39px;
  font-weight: bold;
  background-color: purple;
  padding: 5px;
}
