* {
  box-sizing: border-box;
}

body {
  background-image: url("https://i.ibb.co/Kz89rj5/empty-wood-shelf-21530238.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
}

.title {
  display: "flexbox";
  color: #dfef25;
  font-size: 140px;
  text-decoration: solid;
  text-align: center;
  font-weight: bolder;
}

#createBtn {
  align-items: justify;
  text-align: center;
  background-color: #dfef25;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  border-radius: 10%;
  justify-items: center;
  transform: translateY(0px) translateX(460px);
  width: 360px !important;
  padding: none;
  font-size: 30px;
}

.nameLabel {
  display: inline-flex;
  border: 1px solid black;
  /* width: 90px !important; */
  background-color: #fae6b2;
  transform: translateY(-220px) translateX(-510px);
  margin: 90px;
  align-items: center;
  height: 60px !important;
  border-radius: 25%;
  padding: 5px;
}

.ingredientPic {
  display: inline;
  transform: translateY(110px) translateX(40px);
  width: 230px;
  height: 230px !important ;
  margin: 15px;
  /* border: 2px solid black;  */
  border-radius: 25%;
  margin-bottom: 200px;
}

.leftArrow {
  transform: translateY(490px) translateX(-300px);
  width: 25px !important;
}

.rightArrow {
  transform: translateY(-980px) translateX(1350px);
}
