/* body {
  background-image: url("https://wallpaperaccess.com/full/5053299.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
} */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nameLabel {
  margin-top: 0px;
}

.row {
  /* border: 2px solid black; */
  padding: 10px;
}

#recipe-container {
  background-image: url("https://wallpaperaccess.com/full/5053299.jpg");
  /* background-image: url("https://i.ibb.co/23bfGZd/depositphotos-99364234-stock-illustration-vintage-book-with-blank-pages-removebg-preview.png"); */
  background-repeat: repeat;
  height: 80%;
  width: 80%;
}
