body {
  background-color: #fae6b2;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nameLabel {
  margin-top: 0px;
}

.row {
  border: 2px black solid;
  padding: 10px;
}

.col {
  border: 2px black solid;
  padding: 10px;
}

#book_pic {
  z-index: -1;
  margin-top: 5%;
  height: 95%;
  width: 95%;
}

/* Small screens are defined as having a max-width of 600px
Medium screens are defined as having a max-width of 992px
Large screen are defined as having a min-width of 993px
Extra Large screen are defined as having a min-width of 1200px */
/* 
@media (max-width: 1200px) {
  .container {
    margin-top: 10%;
    margin-bottom: 15%;
    width: 100%;
  }
}

@media (min-width: 993px) {
  .container {
    margin-top: 10%;
    margin-bottom: 15%;
    width: 80%;
  }
} */

@media (min-width: 1100px) and (max-width: 1799px) {
  .container {
    margin-top: 2%;
    margin-bottom: 5%;
    width: 80%;
  }
  #book_pic {
    z-index: -1;
    margin-top: 2%;
    margin-bottom: 15%;
    height: 100%;
    width: 95%;
  }
}

@media (max-width: 2800px) and (min-width: 1800px) {
  .container {
    margin-top: 8%;
    margin-bottom: 11%;
    width: 100%;
  }
  #book_pic {
    z-index: -1;
    margin-top: 0%;
    height: 80%;
    width: 95%;
  }
}
/* @media (min-width: 900px) and (min-height: 600px) {
  .container {
    margin-top: 10%;
    margin-bottom: 11%;
    width: 88%;
  }
} */
