{% extends 'base.html' %} {% block content %} {% load static %}
<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/potionDetail.css' %}"
  />
</head>

<div id="book_pic">
</div>

  <div class="container">
    <div class="row center">
      <div class="col s6">
        <div class="row">
          
          <img
          src="https://i.imgur.com/P51dKQT.png"
          style="height: 200px; width: 200px"
          class="potionBottlePic"
        /><span style="font-size: 30px">
          {{potion.name}}</span>
        </div>
        <div class="row"><span style="font-size: 30px">
          {{potion.effects}}</span>
        </div>
        
        <div class="row"><span style="font-size: 30px">
          {{potion.purpose}}</span>
        </div>
        
      </div>
      <div class="col s6">
        <div class="row">
          <span style="font-size: 40px;font-family: 'Great Vibes', cursive;letter-spacing:2px">Recipe</span>
        </div>
        {% for ingredient in potion.all %}
        <div class="row">
          <div class="col s6"><span style="font-size: 20px">QUANTITY</span></div>
          <div class="col s6"><span style="font-size: 20px">INGREDIENT{{ingredient.name}}</span></div>
        </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor%}
  {% endblock %}

