{% extends 'base.html' %} {% block content %} {% load static %}
<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/potionDetail.css' %}"
  />
</head>

<div class="container" id="recipe-container">
  <div class="row center">
    <div class="col s6">
      <div class="row">
        <img
          src="https://i.imgur.com/P51dKQT.png"
          style="height: 200px; width: 200px"
          class="potionBottlePic"
        />
        <div class="row"><span style="font-size: 30px;font-family: 'Great Vibes', cursive;
          letter-spacing: 2px;text-shadow: 1px 1px 2px brown">Name:</span> <span style="font-size: 30px;text-shadow: 1px 1px 2px brown">{{potion.name}}</span>
      </div>
      <div class="row">
        <span style="font-size: 30px;font-family: 'Great Vibes', cursive;
          letter-spacing: 2px; text-shadow: 1px 1px 2px brown"> Effects:</span> <span style="font-size: 30px;text-shadow: 1px 1px 2px brown">{{potion.effects}}</span>
          </div>

      <div class="row">
        <span style="font-size: 30px;font-family: 'Great Vibes', cursive;
          letter-spacing: 2px;text-shadow: 1px 1px 2px brown">Purpose:</span> <span style="font-size: 30px;text-shadow: 1px 1px 2px brown">{{potion.purpose}}</span>
      </div>
    </div>
  </div>
    <div class="col s6">
      <div class="row">
        <span
          style="
            font-size: 50px;
            font-family: 'Great Vibes', cursive;
            letter-spacing: 2px;text-shadow: 1px 1px 2px brown">Recipe</span>

        <div class="row">
          <a href="{%url 'potion_delete' potion.id %}"><button class="btn-large" style="background-color: #6e0c71; margin: 2px;font-family: 'Josefin Sans', sans-serif;">Delete</button></a>
          <a href="{%url 'potion_edit' potion.id %}"><button class="btn-large btn-floating" style="background-color: #6e0c71; margin: 2px;font-family: 'Josefin Sans', sans-serif;">Edit</button></a>
        </div>
      </div>

      <table>
        <tr>
          {% for recipe in potion.recipe_set.all %}
          <tr>
          <td>
            <span style="font-size: 18px;text-shadow: 1px 1px 2px brown"><b>QUANTITY: </span><span style="font-size: 25px;text-shadow: 1px 1px midnightblue"> {{recipe.quantity}}</b></span>
            <td>
            <span style="font-size: 18px;text-shadow: 1px 1px 2px brown"
              ><b>INGREDIENT: </span><span style="font-size: 25px;text-shadow: 1px 1px midnightblue"> {{recipe.ingredient.name}}</b></span
            ></td>
          </td>
        </tr>
          {% endfor %}  
        </tr>
      </table>
 {% endblock %}
</div>
